.painel-tela-inicial {
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.alinhar-centro {
    text-align: center;
}

.tabela-classificacao {
    margin-top: 40px;
}
.container-table {
    margin-top: 40px;
}