<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projeto de PSW</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="../static/css/site.css" rel="stylesheet" th:href="@{/css/site.css}">
</head>
<body>

    <header>
        <!-- Barra de navegação da aplicação-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" th:href="@{/}">Tabela Brasileirão</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/classificacao}">Classificação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Novo Time</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Simular Rodada</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                </form>
            </div>
        </nav>
        <!-- Fim da barra de navegação -->
    </header>

    <section>

        <div class="container container-table">

                <!--<div class="container">-->
                    <!--<div class="row">-->
                        <!--<div class="col-sm">-->
                            <!--<p class="display-4" style="text-align: center">Tabela Brasileirão: </p>-->
                        <!--</div>-->
                        <!--<div class="col-sm">-->
                            <!--<select class="custom-select">-->
                                <!--<option value="2000">2000</option>-->
                                <!--<option value="2001">2001</option>-->
                                <!--<option value="2002">2002</option>-->
                                <!--<option value="2003">2003</option>-->
                                <!--<option value="2004">2004</option>-->
                                <!--<option value="2005">2005</option>-->
                                <!--<option value="2006">2006</option>-->
                                <!--<option value="2007">2007</option>-->
                                <!--<option value="2008">2008</option>-->
                                <!--<option value="2009">2009</option>-->
                                <!--<option value="2010">2010</option>-->
                                <!--<option value="2011">2011</option>-->
                                <!--<option value="2012">2012</option>-->
                                <!--<option value="2013">2013</option>-->
                                <!--<option value="2014">2014</option>-->
                                <!--<option value="2015">2015</option>-->
                                <!--<option value="2016">2016</option>-->
                                <!--<option value="2017">2017</option>-->
                                <!--<option value="2018">2018</option>-->
                                <!--<option value="2019">2019</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!-- Tabela de colocação -->
                <table class="table table-hover table-bordered alinhar-centro">
                    <thead>
                        <tr style="background-color: #10502f; color: #FFFFFF">
                            <th scope="col">Clube</th>
                            <th scope="col">Pts</th>
                            <th scope="col">PJ</th>
                            <th scope="col">VIT</th>
                            <th scope="col">E</th>
                            <th scope="col">D</th>
                            <th scope="col">GP</th>
                            <th scope="col">GC</th>
                            <th scope="col">SG</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="time: ${times}">
                            <td th:text="${time.getNome()}" />
                            <td th:text="${time.getPontos()}" />
                            <td th:text="${time.getPartidasJogadas()}" />
                            <td th:text="${time.getVitorias()}" />
                            <td th:text="${time.getEmpates()}" />
                            <td th:text="${time.getDerrotas()}" />
                            <td th:text="${time.getGolsPro()}" />
                            <td th:text="${time.getGolsContra()}" />
                            <td th:text="${time.getSaldoDeGols()}" />
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    <footer>
        <!-- inicio do rodapé -->
        <div class="footer-copyright text-center py-3">© 2019 Desenvolvido por:
            <a href="https://www.linkedin.com/in/guilherme-neres/"> Guilherme Neres</a>
            <a>e</a>
            <a href="https://www.linkedin.com/in/rafael-lins-frade-de-arag%C3%A3o-378668159/">Rafael Frade</a>
        </div>
        <!-- Fim do rodape -->s
    </footer>
</body>
</html>